<section id="sample">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 >Check out some of my sample works</h2>
                <p style="margin-top:30px;font-style: italic;">
                    It's crafted with the latest trend of design and coded with all
                    modern approaches.Its robust and multidimensional usable templates 
                    suited for your business and personal needs.
                </p>
           
        
        <div class="row" style="margin-bottom: 100px;margin-top: 100px;" data-aos-easing="ease-in-out-sine" data-aos-delay="0">
            <div class="col-md-4 polaroid rotate_right" style="margin-right:20px;"><img src="/assets/img/w1.jpg" class="img-fluid " data-aos="fade-down"></div>
            <div class="col-md-4 polaroid "><img src="/assets/img/w2.jpg" class="img-fluid" data-aos="fade-in"></div>
            <div class="col-md-4 polaroid rotate_right" ><img src="/assets/img/w3.jpg" class="img-fluid" data-aos="fade-down"></div>

        </div>
        <div class="row "  data-aos-easing="ease-in" data-aos-delay="100">
            <div class="col-md-4 polaroid rotate_right"><img src="/assets/img/w4.jpg" class="img-fluid" data-aos="fade-down"></div>
            <div class="col-md-4 polaroid"><img src="/assets/img/w5.jpg" class="img-fluid" data-aos="fade-in"></div>
            <div class="col-md-4 polaroid rotate_right"><img src="/assets/img/w6.jpg" class="img-fluid" data-aos="fade-down"></div>

        </div>
    </div>
    </div>
    </div>
</section>

