
 <div class="container">
  <div class="row">
   
      <div id="main" class="col-md-6">
        <div class="d-flex flex-column" id="header">
        
          <div class="profile">
           
            <img src="../assets/img/girl.jpg" class="img-fluid rounded-circle" style="border:7px solid #343a40;height: 250px;width: 250px;">
            <h1  style="font-size: 24px;padding-top:10px">Sumayya kp</h1>
            <div class="social-links mt-3 text-center">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        
          <nav id="navBar" class="nav-menu navbar " style="background-color: 040b14;">
            <ul style="list-style: none;">
              <li><a href="#resume" class="nav-link scrollto active" routerLink="/landing-page"><i class="bx bx-home"></i> <span style="margin-left: 15px;">Home</span></a></li>
              <li><a href="#resume" class="nav-link scrollto " routerLink="/services"><i class="bx bx-home"></i> <span style="margin-left: 15px;">Services</span></a></li>
              
              <li><a href="#resume" class="nav-link scrollto" routerLink="/samples"><i class="bx bx-file-blank"></i> <span style="margin-left: 15px;">Samples</span></a></li>
          
              <li><a href="#contact" class="nav-link scrollto" routerLink="/contact"><i class="bx bx-envelope"></i> <span style="margin-left: 15px;">Contact</span></a></li>
            </ul>
          </nav><!-- .nav-menu -->
        </div>
       
       
    
    </div>
    <div class="col-md-6" id="aboutcontent" style="padding-bottom: 50px;">
     
      <h2>I'm Sumayya</h2>
      <h4>A lead <span>Full Stack Developer</span> based in India</h4>
      <p>
        I design and develop services for customers specializing creating stylish,modern websites,web services and online stores.My passion is to design digital user experiences through meaningful interactions.Check out my portfolio
      </p>
      <hr >
      <strong>5+</strong><br>
      <p>
        Years of experience
      </p>
      <strong>3K+</strong><br>
      <p>
        Happy Customers
      </p>
      <strong>6+</strong><br>
      <p>
        Success Projects
      </p>
      <button class="btn btn-lg" style="background-color:#6f42c1 ;">Download CV</button>
    </div>

  </div>
 </div>
