#services{
   
}
.card{
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 300px;
    width: 200px;
    border: 1px solid black;
    padding-top: 70px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.bx{
    font-size:x-large;
}