<section id="services" >
 
    <h2 style="font-family: 'Poppins', sans-serif;font: weight 800px;text-align: center;">SERVICES</h2>
  
   
   <div class="container" >
    <div class="row" style="margin-top: 80px;">
    
      <div class="col-md-3" >
        <div class="card" data-aos="fade-up">
         
          <div class="card-body">
            <i class='bx bxs-component' style="color:darkmagenta ;font-size: 46px;"></i>
            <h5 class="card-title">UI/UX Consultancy</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text"><small class="text-muted">Learn more</small><i class='bx bxs-right-arrow-alt'></i></p>
          </div>
        </div>
        
       
      </div>
      <div class="col-md-3">
        <div class="card" data-aos="fade-down">
       
          <div class="card-body">
            <i class='bx bx-hive' style="color:darkmagenta ;font-size: 46px;"></i>
            <h5 class="card-title">Branding and Design</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text"><small class="text-muted">Learn more</small><i class='bx bxs-right-arrow-alt'></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" data-aos="fade-up" >
        
          <div class="card-body">
            <i class='bx bx-code-alt' style="color:darkmagenta ;font-size: 46px;"></i>
            <h5 class="card-title">Web development</h5>

            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
           <p class="card-text"><small class="text-muted">Learn more</small><i class='bx bxs-right-arrow-alt'></i></p> 
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
        
          <div class="card-body" data-aos="fade-down">
            <i class='bx bx-copy-alt' style="color:darkmagenta ;font-size: 46px;"></i>
            <h5 class="card-title">Content Writing</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text"><small class="text-muted">Learn more</small><i class='bx bxs-right-arrow-alt'></i></p>
          </div>
        </div>
      </div>
    </div>
  
   </div>
  

  </section>
