<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri&family=Kaushan+Script&family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
  <section id="main" >
    <div class="container">

      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 typewriter" style="padding-left: 30px">
          <h1 style="font-size:60px;color:whitesmoke;font-family: 'Poppins', sans-serif;;font-weight: 100;" data-aos="fade-left" >Sumayya kp</h1>
          <p style="font-size: 24px;font-style: italic;margin-top:10px">I design and create user interfaces</p>
          <button class="btn btn-lg btn-outline-info" style="padding: 7px;margin-top:20px" routerLink="/contact">Hire me</button>
        </div>
        <div class="col-md-5">
          <div id="vector" data-aos="zoom-out"><img src="/assets/img/coder.png" style="width: 600px;" ></div>
        </div>

      </div>
     
     

      
    </div>
    
  </section>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#6f42c1" fill-opacity="1" d="M0,32L60,64C120,96,240,160,360,165.3C480,171,600,117,720,80C840,43,960,21,1080,42.7C1200,64,1320,128,1380,160L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
  </div>
    

  
  <script src="/PortfolioApp/node_modules/aos/dist/aos.js"></script> 
  <app-services></app-services>

  <app-testimony-section></app-testimony-section>
<app-samples></app-samples>
 <app-contact></app-contact>

